@import '../colors/colors.scss';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style-type: none;
}

.header {
	background-color: $lightGrayishCyan;
	padding: 1rem 0;
	h1 {
		text-align: center;
	}
}

body {
	display: flex;
	flex-direction: column;
	font-family: 'Space Mono', monospace;
	background-color: $lightGrayishCyan;
}

main {
	display: flex;
	flex-direction: column;
}

.bill {
	margin: 0 auto 1rem;
	display: flex;
	flex-direction: column;
	padding-top: 2rem;
	width: 90%;
	label {
		align-self: flex-start;
		text-align: left;
		margin-bottom: 0.3rem;
		color: $darkGrayishCyan;
	}
	.bill--total {
		align-self: flex-end;
		background-image: url('../../images/icon-dollar.svg');
		background-repeat: no-repeat;
		background-position: left;
		background-position-x: 5%;
		background-color: $lightGrayish;
		color: $veryDarkCyan;
		border: none;
		font-weight: 700;
		font-size: 1.4rem;
		text-align: right;
		padding: 0.5rem;
		width: 100%;
	}
	.bill--total::placeholder {
		font-family: 'Space Mono', monospace;
	}
}

.tip {
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 90%;
	label {
		color: $darkGrayishCyan;
		align-self: flex-start;
		flex-basis: 100%;
		text-align: left;
		margin-bottom: 0.6rem;
	}
	.tip--btn,
	.tip--custom {
		margin-bottom: 1rem;
		width: 45%;
	}

	.tip--btn {
		background-color: $veryDarkCyan;
		border: none;
		border-radius: 5%;
		color: $white;
		font-weight: 700;
		font-size: 1.2rem;
		text-align: center;
		padding: 0.5rem 1rem;
	}

	.tip--btn:active,
	.active {
		background-color: $strongCyan;
		color: $veryDarkCyan;
	}

	.tip--custom {
		background-color: $lightGrayish;
		border: none;
		color: $veryDarkCyan;
		font-family: 'Space Mono', monospace;
		font-size: 1.2rem;
		font-weight: 700;
		text-align: right;
		padding: 0 0.5rem;
	}
}

.people {
	margin: 0 auto 1rem;
	display: flex;
	flex-direction: column;
	width: 90%;
	h4 {
		color: $darkGrayishCyan;
	}
	.people--number {
		background-color: $lightGrayish;
		background-image: url('../../images/icon-person.svg');
		background-repeat: no-repeat;
		background-position: left;
		background-position-x: 5%;
		border: none;
		color: $veryDarkCyan;
		font-family: 'Space Mono', monospace;
		font-size: 1.2rem;
		font-weight: 700;
		text-align: right;
		padding: 0.5rem;
	}
	.people--number::placeholder {
		font-family: 'Space Mono', monospace;
	}
}

.total {
	align-items: center;
	background-color: $veryDarkCyan;
	border-radius: 3%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	grid-template-columns: 1fr;
	margin: 0 auto;
	padding: 2rem 1rem;
	width: 100%;
	height: 100%;
	.total--card {
		display: flex;
		justify-content: space-between;
		width: 90%;
	}
	.total--card:first-of-type {
		margin-bottom: 2rem;
	}
	h4 {
		color: $lightGrayish;
	}
	p {
		color: $lightGrayishCyan;
	}
	h2 {
		color: $strongCyan;
	}
	.total--btn--reset {
		background-color: $strongCyan;
		border: none;
		border-radius: 3%;
		color: $veryDarkCyan;
		font-family: 'Space Mono', monospace;
		font-size: 1.3rem;
		font-weight: 700;
		margin: 2rem 1rem 0.2rem;
		padding: 0.5rem 2rem;
		text-transform: uppercase;
		width: 90%;
	}
}

.container--action,
.container--results {
	background-color: $white;
}

.attribution {
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: #3e52a3;
}

.disabled {
	opacity: 0.4;
}

@media screen and (min-width: 768px) {
	body {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 0.2fr 1fr 1fr;
		grid-template-areas:
			'header header'
			'main main'
			'footer footer';
	}

	.tip {
		justify-content: space-between;

		.tip--btn,
		.tip--custom {
			margin: 0;
			margin-bottom: 1rem;
			width: 30%;
		}
		.tip--custom {
			font-size: 0.8rem;
		}
	}

	.header {
		grid-area: header;
	}
	main {
		grid-area: main;
		margin: auto;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
		gap: 0;
		width: 80%;
		padding: 1rem;

		.container--action {
			.bill,
			.tip,
			.people {
				width: 80%;
			}
		}

		.total {
			margin: 1rem auto;
			width: 80%;
			height: 90%;
		}
	}
	footer {
		grid-area: footer;
	}
}

@media screen and (min-width: 1024px) {
	main {
		width: 60%;
	}

	.tip {
		.tip--custom {
			font-size: 0.9rem;
		}
	}
}

@media screen and (min-width: 1290px) {
	main {
		width: 50%;
	}

	.tip {
		.tip--custom {
			font-size: 1.2rem;
		}
	}
}
